@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

// Breakpoints
$desktop-breakpoint: 1440px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 375px;

// Colors
$very-dark-blue: #0B0D17;
$light-grey-blue: #D0D6F9;
$white: #FFFFFF;

// Fonts
$barlow: 'Barlow', sans-serif;
$barlowCondensed: 'Barlow Condensed', sans-serif;
$bellefair: 'Bellefair', serif;