.destination-container-div {
    background: #A2A2A2;
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.destination-inside-container-div {
    height: 764px;
    @include flex(space-between, flex-start);
    flex-direction: column;
    padding: 76px 11.319444% 112px 11.5625%;

    h5 {
        text-transform: uppercase;
        margin-bottom: 64px;

        span {
            margin-right: 11px;
            mix-blend-mode: normal;
            opacity: 0.25;
            font-weight: bold;
        }
    }
}

.destination-content-container {
    @include flex(space-between, flex-end);
    height: 478px;
    width: 100%;

}

.destination-content-left-container {
    height: 445px;
    width: 445px;
    margin-left: 64px;
}

.destination-content-right-container {
    width: 445px;
    height: 472px;
    margin-bottom: 6px;
    @include flex(flex-start, flex-start);
    flex-direction: column;
}

.destination-content-right-container-destination-selector {
    @include flex(space-between, flex-start);
    width: 285.5px;
    height: 34px;
    margin-bottom: 37px;
}

.destination-active-nav-text {
    font-family: $barlowCondensed;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    @include flex(space-between, flex-start);
    border-bottom: 3px solid $white;
    // padding-top: 3px;
    cursor: pointer;

   &:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
}

.destination-nav-text {
    font-family: $barlowCondensed;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    @include flex(space-between, flex-start);
    cursor: pointer;

    &:hover {
        // padding-top: 3px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
}

.destination-content-right-container-info {
    h2 {
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    p {
        color: $light-grey-blue;
        margin-bottom: 54px;
    }
}

.destination-content-right-container-divider-line {
    height: 1px;
    width: 100%;
    background: #383B4B;
    margin-bottom: 28px;
}

.destination-content-right-container-info-bottom-portion {
    @include flex(space-between, center);
    width: 100%;
    height: 61px;
}

.destination-content-right-container-info-bottom-portion-left-side {
    width: 50%;
    height: 61px;
    @include flex(space-between, flex-start);
    flex-direction: column;
}

.destination-content-right-container-info-bottom-portion-right-side {
    width: 50%;
    height: 61px;
    @include flex(space-between, flex-start);
    flex-direction: column;
}